html,body{
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
}

header{
    height:20rem;
    width:100%;
    text-align:center;
    border:#919286 1rem solid;
    background-color:#6a5d30;
}

span{
    margin:0 auto;
    display:block;
    height:auto;
    width:80%;
    overflow:hidden;
}

img{
    margin:0 auto;
    display:block;
    max-width:auto;
    width:calc(100%/3.5);
    height:auto;
    transform:translatey(20%);
}

@media only screen
    and (min-width:630px){
        header{background-color:#eee194;}

        img{width:calc(100%/2);
            transform:translatey}
}